.Cards {
	height: 25rem;
	width: 15rem;
	border: 2px;
	background-color: #f8f9fa;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease;
}
.Cards:hover {
	transform: translateY(-5px);
	cursor: pointer;
}
.Card-img {
	object-fit: center/cover;
	background-repeat: no-repeat;
	height: 12rem;
	width: 15rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border-radius: 15%;
}
.Card-title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
}
.Cards:hover .Card-title {
	color: black;
	text-decoration: underline;
	cursor: pointer;
}
.Cards:hover .Card-img {
	transform: scale(0.8); /* slightly bigger */
	transition: transform 0.3s ease;
}
.Card-description {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3px;
	font-size: 0.8rem;
	font-weight: 300;
	padding: 4px;
}
/* Small cards */
.Cards.Small {
	height: 14rem;
	width: 18rem;
	border: 2px;
	background-color: #f8f9fa;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.Cards.Small .Card-title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size: 0.8rem;
	text-decoration: underline;
	background-color: #f8f9fa;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	padding: 1rem;
	transition: font-size 0.3s ease;
}
.Cards.Small:hover .Card-title {
	color: Black;
	cursor: pointer;
	font-size: 0.7rem;
	font-weight: 800;
}
.NPRs {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	color: red;
}

.Card-button {
	margin-left: 6rem;
	background-color: rgb(2, 2, 80);
	color: #f8f9fa;
	border-radius: 15%;
	transition: background 0.6s, transform 0.3s ease;
}
.Card-button:hover {
	background: #000;
	transform: translate3d(0, -5px, 0);
}
.SCard-description {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -0.5rem;
	font-size: 0.7rem;
}
.Cards.Small .Card-description {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3px;
	font-size: 0.8rem;
	font-weight: 300;
	padding: 4px;
	font-weight: 800;
}
.Cards.Small:hover .NPRs {
	font-weight: 800;
	color: red;
}
/* MediumCard */
.Cards.Medium {
	height: 24rem;
	width: 18rem;
	border: 2px;
	background-color: #f8f9fa;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.Cards.Medium .Card-img {
	object-fit: center/cover;
	background-repeat: no-repeat;
	height: 14rem;
	width: 18rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}
.NMC {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8rem;
	font-weight: 400;
}
.EDU {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8rem;
	font-weight: 500;
}
.Cards.Medium .Card-title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	font-size: 0.8rem;
	padding: 1rem;
	transition: font-size 0.3s ease;
}
.Card-Date {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.7rem;
	font-weight: 600;
}
/* LargeCard */
.Cards.Large {
	height: 30rem;
	width: 25rem;
	border: 2px;
	background-color: #f8f9fa;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.Parameter {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.7rem;
	font-weight: 600;
}
.Details-Title,
.Include-Title {
	font-size: 1rem;
	font-weight: 800;
	padding-left: 1rem;
}
.Details1,
.Details2 {
	padding-left: 2rem;
	font-size: 0.6rem;
	font-weight: 600;
	color: #007bff;
	margin: 0rem;
}

.Includes {
	padding-left: 2rem;
	font-size: 0.6rem;
	font-weight: 600;
	color: #007bff;
	margin: 0rem;
}
.Original-price {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0rem;
	color: red;
	text-decoration: line-through;
}
.Cards.Large:hover .Original-price {
	font-weight: 800;
	color: red;
	text-decoration: line-through;
}
.Discount-price {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0rem;
	color: red;
}
.Cards.Large:hover .Discount-price {
	font-weight: 800;
	color: red;
}
.Extra {
	font-size: 0.9rem;
	font-weight: 600;
	padding-left: 2rem;
}

/* xsmCard */
.Cards.XSM {
	height: 10rem;
	width: 12rem;
	border: 2px;
	background-color: #f8f9fa;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.Cards.XSM .NUM-PLUS {
	display: flex;
	justify-content: center;
	align-items: center;
}
.NUM {
	font-size: 3rem;
}
.PLUS {
	font-size: 1.5rem;
	margin-left: -0.5rem;
}
.Cards.XSM .XCAP {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8rem;
	font-weight: 600;
	margin-top: -1rem;
}
.BLOGS {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.9rem;
	font-weight: 800;
	background: #f9f8fa;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.BCAP {
	display: flex;
	justify-content: center;
	align-content: center;
	font-size: 0.8rem;
	font-weight: 600;
}
.Cards.XSM .Card-button {
	margin-left: 2.5rem;
}
@media screen and (max-width: 768px) {
	.Cards.Small .Card-title {
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 600;
		font-size: 0.8rem;
		text-decoration: underline;
		background-color: #f8f9fa;
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
		padding: 1rem;
		transition: font-size 0.3s ease;
	}
	.Cards.Small {
		height: 16rem;
		width: 15rem;
		border: 2px;
		background-color: #f8f9fa;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	}
	.Card-button {
		margin-left: 4rem;
		background-color: rgb(2, 2, 80);
		color: #f8f9fa;
		border-radius: 15%;
		transition: background 0.6s, transform 0.3s ease;
	}
	.Card-button:hover {
		background: #000;
		transform: translate3d(0, -5px, 0);
	}
	/* Large */
	.Cards.Large {
		height: 35rem;
		width: 15rem;
		border: 2px;
		background-color: #f8f9fa;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	}
	.Parameter {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 0.7rem;
		font-weight: 600;
	}
	.Details-Title,
	.Include-Title {
		font-size: 0.9rem;
		font-weight: 800;
		/* padding-left: 1rem; */
	}
	.Details1,
	.Details2 {
		/* padding-left: 2rem; */
		font-size: 0.6rem;
		font-weight: 600;
		color: #007bff;
		margin: 0rem;
	}

	.Includes {
		/* padding-left: 2rem; */
		font-size: 0.6rem;
		font-weight: 600;
		color: #007bff;
	}
	.Original-price {
		/* display: flex;
		justify-content: center;
		align-items: center; */
		/* margin: 0rem; */
		color: red;
		text-decoration: line-through;
	}
	.Cards.Large:hover .Original-price {
		font-weight: 800;
		color: red;
		text-decoration: line-through;
	}
	.Discount-price {
		/* display: flex;
		justify-content: center;
		align-items: center; */
		margin: 0rem;
		color: red;
		font-size: 0.7rem;
	}
	.Cards.Large:hover .Discount-price {
		font-weight: 800;
		color: red;
	}
	.Extra {
		font-size: 0.8rem;
		font-weight: 600;
	}

	/* Normal Card */
	.Cards {
		height: 25rem;
		width: 15rem;
		border: 2px;
		background-color: #f8f9fa;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
		transition: transform 0.3s ease;
	}
	.Cards:hover {
		transform: translateY(-5px);
		cursor: pointer;
	}
	.Card-img {
		object-fit: center/cover;
		background-repeat: no-repeat;
		height: 12rem;
		width: 12rem;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px;
		border-radius: 15%;
		margin-left: 2rem;
	}
	.Card-title {
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 600;
	}
	.Cards:hover .Card-title {
		color: black;
		text-decoration: underline;
		cursor: pointer;
	}
	.Cards:hover .Card-img {
		transform: scale(0.8); /* slightly bigger */
		transition: transform 0.3s ease;
	}
	.Card-description {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5px;
		font-size: 0.8rem;
		font-weight: 300;
	}
}
