.hero {
	height: 100vh; /* full screen */
	width: 100%;
	background: url("/HomePage.png") no-repeat center center/cover;
	position: relative;
}

.hero-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
}

.hero-content h1 {
	font-size: 3rem;
	margin-bottom: 1rem;
}

.hero-content p {
	font-size: 1.2rem;
	margin-bottom: 2rem;
}

.hero-btn {
	background: #0077b6;
	color: white;
	border: none;
	padding: 12px 24px;
	font-size: 1rem;
	border-radius: 5px;
	cursor: pointer;
	transition: background 0.3s;
}

.hero-btn:hover {
	background: #023e8a;
}
@media screen and (max-width: 768px) {
	.hero {
		height: 80vh; /* full screen */
		width: 100%;
		background: url("/HomePage.png") no-repeat center center/cover;
		position: relative;
	}
}
