.Whole-Title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	font-weight: 800;
}
.Whole-Img {
	border-radius: 15%;
	height: 10rem;
	width: 20rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.Whole-Img-div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.Description {
	font-size: 0.8rem;
	font-weight: 600;
	padding: 1rem;
	margin-bottom: 0rem;
	background: #f8f9fa;
	box-shadow: 0px 4px 15px rgb(0, 0, 0, 0.1);
}
.SD-Description {
	font-size: 0.7rem;
	font-weight: 600;
	padding: 1rem;
	margin-bottom: 0rem;
	background: #f8f9fa;

	letter-spacing: 0.1px;
}
.Instruments {
	font-size: 0.9rem;
	font-weight: 600;
	padding: 1rem;
	margin-bottom: 0rem;
	background: #f8f9fa;
}
.Instruments-type {
	margin-top: -2rem;
	font-size: 0.8rem;
	font-weight: 600;
	padding: 1rem;
	margin-bottom: 0rem;
	background: #f8f9fa;

	letter-spacing: 0.1px;
}
.STDescription {
	font-size: 0.9rem;
	font-weight: 600;
	padding: 1rem;
	margin-bottom: 0rem;
	background: #f8f9fa;
}
.STDescription1 {
	font-size: 0.8rem;
	font-weight: 600;
	padding: 1rem;
	margin-bottom: 0rem;
	background: #f8f9fa;
}

.Buttons-div {
	position: sticky;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.W-Buttons {
	color: black;
	text-decoration: none;
	font-size: 0.8rem;
	font-weight: 600;
	transition: color 0.3s ease, font-size 0.3s ease, font-weight 0.3s ease;
}

.W-Buttons.active {
	color: black;
	font-size: 0.9rem;
	font-weight: 800;
	transition: color 0.3s ease, font-size 0.3s ease, font-weight 0.3s ease;
}
.WholeDetails-Button {
	border-radius: 25%;
	margin-top: 1rem;
	height: 2rem;
	width: 20rem;
}

.W-More-Service {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	font-weight: 600;
}
@media screen and (max-width: 768px) {
	.Whole-Title {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 0.8rem;
		font-weight: 800;
	}
	.Whole-Img {
		border-radius: 15%;
		height: 10rem;
		width: 15rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.WholeDetails-Button {
		border-radius: 25%;
		margin-top: 1rem;
		height: 2rem;
		width: 14rem;
	}
}
