.WholeNotice {
	margin-top: 2rem;
	background-color: #ededed;
}
.WholeNotice-Img {
	padding: 1rem;
	height: 15rem;
	width: 15rem;
}
.WholeNotice-Img-Div,
.WholeNotice-Title,
.WholeNotice-Date,
.WholeNotice-Description {
	display: flex;
	justify-content: center;
	align-items: center;
}
.WholeNotice-Title {
	margin-top: 0.5rem;
	font-size: 0.8rem;
	font-weight: 800;
}
.WholeNotice-Date {
	font-size: 0.8rem;
	font-weight: 600;
}
.WholeNotice-Description {
	font-size: 0.7;
	font-weight: 500;
}
.WholeNotice-Button-Div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 1rem; /* space between the links */
}

.WholeNotice-Link {
	display: block;
	padding: 0.5rem 1rem;
	border-radius: 25%;
	background-color: #f0f0f0;
	color: black;
	font-size: 0.8rem;
	font-weight: 600;
	text-align: center;
	cursor: pointer;
	transition: all 0.3s ease;
}

.WholeNotice-Link:hover {
	background-color: #e0e0e0;
}

.WholeNotice-Link.active {
	background-color: #d1e7ff;
	font-size: 0.9rem;
	font-weight: 800;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
	.WholeNotice-Button {
		width: 45%;
		font-size: 0.75rem;
		height: 2.2rem;
		margin-left: 0;
	}
}
