.WholeNews {
	/* display: flex;
	justify-content: center;
	align-items: center; */
	flex-direction: column;
	margin-top: 3rem;
	/* height: 20rem;
	width: 10rem; */
	background-color: #ededed;
}
.WholeNews-Img {
	height: 20rem;
	width: 25rem;
}
.WholeNews-Img-Div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.WholeNews-Title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8rem;
	font-weight: 800;
}
.WholeNews-Date {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8rem;
	font-weight: 600;
}
.WholeNews-Description {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.7rem;
	font-weight: 600;
	padding: 1rem;
}
/* Question answer */
/* .WholeNews-QA {
	background-color: #ededed;
	margin-top: 3rem;
	height: 30rem;
	width: 10rem;
} */
.WholeNews-Question {
	padding: 0.2rem;
	font-size: 0.8rem;
	font-weight: 800;
}
.WholeNews-Icon {
	margin-top: -2rem;
}
.WholeNews-A {
	margin-top: 0rem;
	font-size: 0.7rem;
	font-weight: 600;
}
.Answrap {
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	transition: max-height 0.5s ease, opacity 0.5s ease;
}
.Answrap.open {
	max-height: 800px;
	opacity: 1;
	transition: max-height 0.5s ease, opacity 0.5s ease;
}
/* Button */
.WholeNews-Button {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.WholeNews-Button-List {
	margin-top: 2rem;
	z-index: 100;
}
.WholeNews-Button {
	border-radius: 25%;
	margin-top: 1rem;
	height: 2rem;
	width: 20rem;
}
.WholeNews-Button-Link {
	color: black;
	text-decoration: none;
	font-size: 0.7rem;
	font-weight: 600;
	transition: color 0.3s ease, font-size 0.3s ease, font-weight 0.3s ease;
}
.WholeNews-Button-Link.active {
	color: black;
	font-size: 0.8rem;
	font-weight: 800;
	transition: color 0.3s ease, font-size 0.3s ease, font-weight 0.3s ease;
}
.Other-News {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	font-weight: 600;
}

@media screen and (max-width: 768px) {
	.WholeNews {
		margin-top: 3rem;
		height: 55rem;
		width: 100%;
		background-color: #ededed;
	}
	.WholeNews-Img {
		height: 12rem;
		width: 14rem;
	}
	/* Question answer */
	/* .WholeNews-QA {
		background-color: #ededed;
		margin-top: 3rem;
		height: 32rem;
		width: 100%;
	} */
	.WholeNews-Question {
		padding: 0.2rem;
		font-size: 0.6rem;
		font-weight: 800;
	}
	.WholeNews-Icon {
		margin-top: -2rem;
	}
	.WholeNews-A {
		margin-top: 0rem;
		font-size: 0.5rem;
		font-weight: 600;
	}
	.Answrap {
		max-height: 0;
		overflow: hidden;
		opacity: 0;
		transition: max-height 0.5s ease, opacity 0.5s ease;
	}
	.Answrap.open {
		max-height: 800px;
		opacity: 1;
		transition: max-height 0.5s ease, opacity 0.5s ease;
	}
	/* Button */
	.WholeNews-Button {
		border-radius: 25%;
		margin-top: 1rem;
		height: 2rem;
		width: 16rem;
	}
	.WholeNews-Button-Link {
		color: black;
		text-decoration: none;
		font-size: 0.7rem;
		font-weight: 600;
		transition: color 0.3s ease, font-size 0.3s ease, font-weight 0.3s ease;
	}
	.WholeNews-Button-Link.active {
		color: black;
		font-size: 0.8rem;
		font-weight: 800;
		transition: color 0.3s ease, font-size 0.3s ease, font-weight 0.3s ease;
	}
	.Other-News {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1rem;
		font-weight: 600;
	}
}
