.WholeTest-Data {
	margin-top: 2rem;
	height: 15rem;
	width: 100%;
	background-color: #ededed;
	box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.1);
	color: black;
	font-size: 0.8rem;
	font-weight: 600;
}
.WholeTest-Title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.9rem;
	font-weight: 800;
}
.WholeTest-Price {
	width: 100%;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.9rem;
	font-weight: 800;
	color: red;
}
.WholeTest-QueANs {
	background-color: #ededed;
	box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.1);
	margin-top: 2rem;
}
.WholeTest-Parameter {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.9rem;
	font-weight: 800;
}
.WholeTest-Que {
	padding-left: 1rem;
	font-size: 0.8rem;
	font-weight: 600;
}
.WholeTest-Ans {
	font-size: 0.7rem;
	font-weight: 400;
}
.WholeTest-List {
	margin-top: -1rem;
}
.WholeTest-icon {
	margin-left: -1rem;
	cursor: pointer;
	font-size: 1.4rem;
	font-weight: 800;
}
.Ans-Wraper {
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	transition: max-height 0.4s ease, opacity 0.4s ease;
}
.Ans-Wraper.open {
	max-height: 400px;
	opacity: 1;
	transition: max-height 0.4s ease, opacity 0.4s ease;
}
.WholeTest-Button-List {
	margin-top: 2rem;
	z-index: 100;
	display: flex;
	flex-direction: column;
	align-items: center; /* center the column */
	gap: 0.8rem; /* space between buttons */
}

.WholeTest-Button-Link {
	display: block; /* Full width clickable */
	width: 100%;
	text-align: center;
	padding: 0.5rem 1rem;
	border-radius: 25%;
	background-color: #f0f0f0;
	color: black;
	text-decoration: none;
	font-size: 0.8rem;
	font-weight: 600;
	transition: all 0.3s ease;
}

.WholeTest-Button-Link.active {
	color: black;
	font-size: 0.9rem;
	font-weight: 800;
	background-color: #d1e7ff;
}

.WholeTest-Button-Link:hover {
	background-color: #e0e0e0;
}

.Other-Test {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
	.WholeTest-QueANs {
		background-color: #ededed;
		box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.1);
		margin-top: 6rem;
	}
	.WholeTest-Data {
		margin-top: 2rem;
		height: 22rem;
		width: 100%;
		background-color: #ededed;
		box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.1);
		color: black;
		font-size: 0.8rem;
		font-weight: 600;
	}

	.WholeTest-Title {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 0.7rem;
		font-weight: 800;
	}
	.WholeTest-Button {
		width: 90%;
		font-size: 0.75rem;
	}

	.WholeTest-Button-Link {
		font-size: 0.75rem;
	}

	.WholeTest-Button-Link.active {
		font-size: 0.8rem;
	}
}
