/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border: 1px solid red; */
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}
.page-content {
	margin-top: -1.5rem;
}
.App {
	width: 100%;
}
.Marquee {
	margin-bottom: 0rem;
	font-size: 0.8rem;
	font-weight: 800;
}

/* Navbar */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(to left, #020024, #090979, #01242b);
	color: #f8f9fa;
	padding: 0.8rem 1rem;
	position: sticky;
	top: 0; /* distance from top */
	z-index: 1030;
	transition: transform 0.3s ease, opacity 0.3s ease;
}
.Show-nav {
	transform: translateY(0);
	opacity: 1;
}
.Hide-nav {
	transform: translateY(-140px);
}

.nav-logo {
	font-size: 1.5rem;
	color: #fff;
	font-weight: bold;
}
.Logo {
	height: 5rem;
	width: 10rem;
}

.nav-menu {
	margin-top: 1rem;
	display: flex;
	list-style: none;
	gap: 15px;
}

.nav-menu li a {
	text-decoration: none;
	color: #fff;
	transition: color 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8rem;
}

.nav-menu li a:hover,
.nav-menu li a.active {
	color: #ffd166;
}

/* Hamburger icon */
.Hum {
	display: none;
	font-size: 1.5rem;
	color: #fff;
	cursor: pointer;
}
/* Footer */
.F-About-Company,
.F-Useful-Link,
.F-Connect-Us,
.F-Facebook-Page {
	font-size: 0.9rem;
	font-weight: 800;
	text-decoration: underline;
}
.F-About {
	font-size: 0.7rem;
	font-weight: 600;
}
.F-Icons {
	gap: 1rem;
}
.F-Ul {
	font-weight: 600;
	padding-left: 1rem;
	list-style: none;
	cursor: pointer;
	transition: transform 0.6s ease-in;
}

.F-Ul li {
	transition: transform 0.3s ease-in;
}

.F-Ul li:hover {
	transform: translateY(-5px);
}
.Footer {
	margin-top: 3rem;
	background: linear-gradient(to left, #020024, #090979, #01242b);
	color: #f8f9fa;
	padding: 1rem;
}
.F-NUM1 {
	color: #f8f9fa;
}
.F-service-info-para {
	font-size: 0.8rem;
	margin: 0rem;
	color: #f8f9fa;
}

.DIV1 {
	border-right: 1px solid black;
}
.F-location {
	margin: 0.5rem;
}
/* Responsive: mobile */
@media screen and (max-width: 768px) {
	.Hum {
		display: block;
	}
	.nav-menu.show {
		opacity: 0;
		transform: translateY(-20px);
		transition: opacity 0.3s ease, transform 0.3s ease;
	}

	.nav-menu {
		margin-top: 0rem;
		flex-direction: column;
		display: flex;
		width: 10rem;
		position: absolute;
		top: 110px;
		right: 0rem;
		background-color: rgba(0, 119, 182, 0.4);
		backdrop-filter: blur(10px);
		border: 1px solid rgba(255, 255, 255, 0.2);
		border-radius: 8px;
		z-index: 500;
		color: black;
		opacity: 1;
		transform: translateY(0);
		transition: opacity 0.3s ease, transform 0.3s ease;
	}

	.nav-menu li {
		margin: 10px 0;
		text-align: center;
	}
	.F-About-Company,
	.F-Useful-Link,
	.F-Connect-Us,
	.F-Facebook-Page {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 0.9rem;
		font-weight: 800;
		text-decoration: underline;
		margin-top: 1rem;
	}
	.F-About {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 0.7rem;
		font-weight: 600;
	}
	.F-Icons {
		display: flex;
		justify-content: center;
		align-items: center;

		gap: 1rem;
	}
	.F-Ul {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		font-weight: 600;
		padding-left: 1rem;
		list-style: none;
		cursor: pointer;
		transition: transform 0.6s ease-in;
	}

	.F-Ul li {
		transition: transform 0.3s ease-in;
	}

	.F-Ul li:hover {
		transform: translateY(-5px);
	}
	.Footer {
		margin-top: 3rem;
		background-color: rgb(4, 4, 67);
		color: #f8f9fa;
		padding: 1rem;
	}
	.F-NUM1 {
		color: #f8f9fa;
	}
	.F-service-info-para {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 0.8rem;
		margin: 0rem;
		color: #f8f9fa;
	}
	.F-location {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.F-Card {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.F-NUM-DIV {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.DIV1 {
		border-bottom: 1px solid black;
	}
}

/* Page content */
.page-content {
	padding: 2rem;
}
